@import '@assets/styles/color.module.scss';
@import '@assets/styles/spacing.module.scss';
@import '@assets/styles/screenSize.module.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $primary-onyx;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @include sm {
    max-width: 540px;
  }

  @include md {
    max-width: 720px;
  }

  @include lg {
    max-width: 960px;
  }

  @include xl {
    max-width: 1140;
  }

  @include xxl {
    max-width: 1320px;
  }
}
