$primary-red: #f04f36;
$primary-white: #ffffff;
$primary-onyx: #333838;

$secondary-space-cadet: #1a1c3e;
$secondary-alabaster: #efeae0;
$secondary-drab-olive: #4a4632;

$neutral-dark-gray: #acacac;
$neutral-ghost: #f2f2f2;
$neutral-light-gray: #f4f4f4;
$neutral-warm-gray: #979797;

$web-accent-green: #4dac4a;
$web-accent-blue: #0326cb;
$web-accent-light-blue: #0a8bdd;
$web-accent-yellow: #f8d547;