$spacing-sQuarter: 2px;
$spacing-sHalf: 4px;
$spacing-s1: 8px;
$spacing-s2: 16px;
$spacing-s3: 24px;
$spacing-s4: 32px;
$spacing-s5: 40px;
$spacing-s6: 48px;
$spacing-s7: 56px;
$spacing-s8: 64px;
$spacing-s9: 72px;
$spacing-s10: 80px;
$spacing-s11: 88px;
$spacing-s12: 96px;
$spacing-s13: 104px;
$spacing-s14: 112px;
$spacing-s15: 120px;
$spacing-s16: 128px;
$spacing-s20: 160px;
$spacing-s25: 200px;
