@import '@assets/styles/color.module.scss';
@import '@assets/styles/screenSize.module.scss';

@mixin common {
  font-weight: normal;

  &.body_white {
    color: $primary-white;
  }
  &.body_dark {
    color: $primary-onyx;
  }
  &.body_gray {
    color: $neutral-dark-gray;
  }
  &.body_center {
    text-align: center;
  }
  &.body_left {
    text-align: left;
  }
  &.body_right {
    text-align: right;
  }
}

.body_large {
  @include common;
  font-size: 18px;

  @include sm {
    font-size: 22px;
  }
}

.body_medium {
  @include common;
  font-size: 16px;

  @include sm {
    font-size: 18px;
  }
}
